{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Realtime Translation Chat{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'translation/src/output.css' %}">
</head>
<body class="w-full h-screen flex">
	<div id="room-data" data-room-name="{{ room_name }}" data-current-user="{{ request.user.username }}"></div>
    <section id="sidebar" class="w-1/5 border-slate-100 border-r-2">
        <button type="button" class="btn btn-text max-sm:btn-square sm:hidden" aria-haspopup="dialog" aria-expanded="false" aria-controls="logo-sidebar" data-overlay="#logo-sidebar" >
            <span class="icon-[tabler--menu-2] size-5"></span>
        </button>
          
		<aside id="logo-sidebar">
			<div class="drawer-header p-5 border-b mb-4">
				<div class="flex items-center gap-3">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M17.6745 16.9224L12.6233 10.378C12.2167 9.85117 11.4185 9.8611 11.0251 10.3979L6.45728 16.631C6.26893 16.888 5.96935 17.0398 5.65069 17.0398H3.79114C2.9635 17.0398 2.49412 16.0919 2.99583 15.4336L11.0224 4.90319C11.4206 4.38084 12.2056 4.37762 12.608 4.89668L20.9829 15.6987C21.4923 16.3558 21.024 17.3114 20.1926 17.3114H18.4661C18.1562 17.3114 17.8638 17.1677 17.6745 16.9224ZM12.5866 15.5924L14.8956 18.3593C15.439 19.0105 14.976 20 14.1278 20H9.74075C8.9164 20 8.4461 19.0586 8.94116 18.3994L11.0192 15.6325C11.4065 15.1169 12.1734 15.0972 12.5866 15.5924Z" fill="oklch(var(--p))"/></svg>
					<h3 class="drawer-title text-xl font-semibold">APPOINTUS</h3>
				</div>
			</div>
            
            <div class="drawer-body px-2 overflow-y-auto">
              <ul class="menu p-0" id="contact-list">
                {% for item in user_last_messages %}
                    <li class="border-b w-full" id="contact-list-item">
                        <a href="{% url 'translation:chat' item.user.username %}" class="{% if item.user.username == room_name %} active-chat bg-gray-200 {% endif %}w-full py-4 my-2" data-id="{{ room_name }}">

							<img src="https://ui-avatars.com/api/?name={{ item.user.username|urlencode }}&size=64&background=random"
							alt="{{ item.user.username }}'s Profile Image"
							class="profile-icon rounded mr-3 size-9"
							style="object-fit: cover"/>
			
							<!-- Message Content and Username -->
							<div>
								<p class="text-md font-semibold truncate">{{ item.user.username|title }}</p>

								<!-- Last message preview -->
								<div class="flex justify-between">
									{% if item.last_message %}
										<p class="truncate text-xs" id="last-message">
											{% if item.last_message.sender == request.user %} You: {% endif %}
											{{ item.last_message.content|truncatechars:20 }}
										</p>
										<p class="text-nowrap text-xs text-right" id="msg-time">{{ item.last_message.timestamp|date:"h:i A" }}</p>
									{% else %}
										<p class="text-xs">No messages yet</p>
									{% endif %}
								</div>
							</div>
                        </a>
                    </li>
                {% endfor %}
              </ul>
            </div>
          </aside>
    </section>
    <section id="right-sidebar" class="w-4/5 flex flex-col overflow-hidden">
        <!-- chat navbar -->
        <nav class="navbar bg-base-100 sticky z-50 top-0 border-b gap-4 drop-shadow-sm">
            <div class="navbar-start items-center">
              <p class="text-base-content text-xl font-semibold">
                {{ room_name|title }}
              </p>
            </div>
            <div class="navbar-end flex items-center gap-4">
              <button class="btn btn-sm btn-text btn-circle size-[2.125rem] md:hidden">
                <span class="icon-[tabler--search] size-[1.375rem]"></span>
              </button>
              <div class="input-group hidden max-w-56 rounded-full md:flex">
                <span class="input-group-text">
                  <span class="icon-[tabler--search] text-base-content/80 size-5"></span>
                </span>
                <label class="sr-only" for="searchInput">Full Name</label>
                <input type="search" id="searchInput" class="input grow rounded-e-full" placeholder="Search" />
              </div>
              <div class="dropdown relative inline-flex [--auto-close:inside] [--offset:8] [--placement:bottom-end]">
                <button id="dropdown-scrollable" type="button" class="dropdown-toggle flex items-center" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                  <div class="avatar">
                    <div class="size-9.5 rounded-full">
                      <img src="https://cdn.flyonui.com/fy-assets/avatar/avatar-1.png" alt="avatar 1" />
                    </div>
                  </div>
                </button>
                <ul class="dropdown-menu dropdown-open:opacity-100 hidden min-w-60" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-avatar">
                  <li class="dropdown-header gap-2">
                    <div class="avatar">
                      <div class="w-10 rounded-full">
                        <img src="https://cdn.flyonui.com/fy-assets/avatar/avatar-1.png" alt="avatar" />
                      </div>
                    </div>
                    <div>
                        <h6 class="text-base-content text-base font-semibold">{{ request.user.username|title }}</h6>
                        <small class="text-base-content/50">
                            {% if user.is_superuser %}
                                Service Provider
                            {% else %}
                                Customer
                            {% endif %}
                        </small>
                    </div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <span class="icon-[tabler--user]"></span>
                      My Profile
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <span class="icon-[tabler--settings]"></span>
                      Settings
                    </a>
                  </li>
                  <li class="dropdown-footer gap-2">
                    <a class="btn btn-error btn-soft btn-block" href="{% url 'users:logout' %}">
                      <span class="icon-[tabler--logout]"></span>
                      Sign out
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- Chat -->
          <main class="flex flex-col justify-between h-screen">
            <!-- chat messages -->
            <div id="chatbox" class="flex flex-col p-3 h-full bg-slate-100 overflow-y-auto [&::-webkit-scrollbar]:hidden [-ms-overflow-style:'none'] [scrollbar-width:'none'] flex-1 pb-16" data-theme="corporate">
                {% if chats %} 
					{% for message in chats %}
						{% if message.content %}
							<div class="chat {% if message.sender == request.user %} chat-sender {% else %} chat-receiver {% endif %}">
								<div class="chat-bubble">{{ message.content }}</div>
								<time class="text-base-content/80 chat-footer">{{ message.timestamp|date:"h:i A" }}</time>
							</div>
						{% elif message.file %}
							<div class="chat {% if message.sender == request.user %} chat-sender {% else %} chat-receiver {% endif %}">
								<div class="chat-bubble flex flex-col gap-4">
									<button class="border-base-100 w-52 overflow-hidden rounded-md border" aria-label="Image Button">
										<img class="w-full" src="{{ message.file.url }}" alt="Image attachment" />
									</button>
								</div>
								<time class="text-base-content/80 chat-footer">{{ message.timestamp|date:"h:i A" }}</time>
							</div>
						{% endif %}
					{% endfor %} 
				{% elif room_name != request.user.username %}
                    <div id="no-messages" class="flex justify-center w-full">
                        <p class="text-center w-1/2 border rounded-md h-8 border-green-400 bg-green-100 text-green-500">
                            This is the start of the chat
                        </p>
                    </div>
				{% else %}
					<div id="no-messages" class="flex justify-center w-full">
						<p class="text-center w-1/2 border rounded-md h-8 border-yellow-400 bg-yellow-100 text-yellow-500">
							Choose a contact to chat
						</p>
					</div>
                {% endif %}
			</div>
			<!-- input -->
			{% if room_name != request.user.username %}
            <div class="flex space-x-2 m-4 sticky bottom-4 z-50">
                <input type="text" placeholder="Message" class="input flex-1" data-theme="corporate" id="my_input"/>
				
				<!-- File Upload Button (Icon) -->
				<div class="relative inline-block">
					<label for="file-upload" class="cursor-pointer p-2 rounded-full text-accent hover:bg-accent hover:text-slate-50 flex items-center justify-center w-10 h-10">
						<input id="file-upload" type="file" class="hidden" name="attachments">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-paperclip"><path d="M13.234 20.252 21 12.3"/><path d="m16 6-8.414 8.586a2 2 0 0 0 0 2.828 2 2 0 0 0 2.828 0l8.414-8.586a4 4 0 0 0 0-5.656 4 4 0 0 0-5.656 0l-8.415 8.585a6 6 0 1 0 8.486 8.486"/></svg>
					</label>
					
					<!-- Popover -->
					<div id="file-popover" class="hidden absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 w-48 bg-white shadow-lg rounded-lg p-3 border border-gray-200">
						<div class="flex justify-between items-center">
							<p class="text-sm text-gray-700 font-medium">Selected Files:</p>
							<button id="close-popover" class="text-gray-500 hover:text-red-500 text-lg">&times;</button>
						</div>
						<ul id="file-list" class="text-sm text-gray-600 mt-2"></ul>
					</div>
				</div>
				
				<button class="btn btn-accent" id="submit_button">
					Send
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send-horizontal"><path d="M3.714 3.048a.498.498 0 0 0-.683.627l2.843 7.627a2 2 0 0 1 0 1.396l-2.842 7.627a.498.498 0 0 0 .682.627l18-8.5a.5.5 0 0 0 0-.904z"/><path d="M6 12h16"/></svg>
				</button>
            </div>
			{% endif %}
          </main>
    </section>

    {{slug|json_script:"room_slug"}}

    <script src="{% static 'translation/js/chat.js' %}"></script>
    <script src="{% static 'translation/js/flyonui.js' %}"></script>
</body>
</html>